.background_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.logo {
    height: 6vh;
    margin-bottom: 20px;
}

.content_area {
    background-color: rgba(169, 153, 242, 0.3);
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    border-style: dashed;
    display: flex;
    flex-direction: column;    
}

h1 {
    margin-top: 10px;
}

.forgotPassword_con {
    background-color: rgba(169, 153, 242, 0.3);
    border-radius: 20px;
    padding: 25px;
    width: 500px;
    height: 360px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.forgotP_title {
    font-family: 'K2D';
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}

.description {
    font-size: 13px;
    width: 85%;
    margin-top: 5px;
}

.email_con {
    font-family: 'K2D';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input_style {
    border: none;
    border-bottom: 2px solid #5544a7;
    outline: none;
    background: transparent;
    padding: 8px 0 8px 10px;
    width: 450px;
}

.reset_Btn {
    width: 260px;
    height: 45px;
    font-family: 'K2D';
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
}

.backToLogin_style {
    color: #5544A7;
    text-decoration: none;
    font-family: 'K2D';
    gap: 8px;
    display: flex;
    align-items: center;
}