@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

.background_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.logo {
    height: 6vh;
    margin-bottom: 20px;
}

.content_area {
    background-color: rgba(169, 153, 242, 0.3);
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
}

.login_link {
    align-self: flex-end;
    align-items: flex-start;
    position: relative;
    margin-right: 40px;
    margin-bottom: -34px;
    margin-top: -25px;
}

.login_link a {
    text-decoration: none;
    color: black;
    font-family: 'K2D';
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: #5544A7;
    text-align: center;
    font-family: 'K2D';
    font-size: 45px;
}

.des {
    font-family: 'K2D';
    font-size: 35px;
    margin-bottom: 25px;
    color: black;
    width: 410px;
    text-wrap: 2;
    margin-top: 20px;
}

p {
    color: #575757;
    margin-top: -12px;
    font-family: 'K2D';
    font-size: 20px;
}

.startNow {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.start_Btn {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    width: 260px;
    height: 45px;
    font-weight: bold;
    font-family: 'K2D';
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}

.start_Btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d6bbf8;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 0;
}

.start_Btn:hover::before {
    transform: translateX(0);
}

/* Ensure text stays on top of background */
.start_Btn span,
.start_Btn svg {
    z-index: 1;
    position: relative;
}

.mergeTextN3D {
    display: flex;
    gap: 15px;
}

.threeD_image {
    margin-top: -70px;
    height: 480px;
}